/*----header style------*/
.header{
	
	
	  background-color: #f6f7ff;
    border-bottom: 2px solid #eceefe;
	 position: fixed;
    top: 0;
    left: 0;
    right: 0;
	z-index:100;
}


.menu-btn{
	
    position: absolute;
    top: 15px;
    right: 13px;
    font-size: 25px;
    color: white;
    background-color: transparent;
    border: 0;
}



h1.logo{
	
	font-size: 30px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: "Poppins", sans-serif;
	
	
}

.nav-item > .nav-link:hover{
	
	color:#0d6efd;
		
} 

h1.logo > a{
	
	    color: #2d405f;
		text-decoration:none;
	
}
	.get-start1{
		
	background-color: #e2e5fe;
	padding: 8px 28px;
	color: #3b4ef8;
			
    margin-left: 30px;

		
	}
	
	
	.get-start1:hover{
		
		    color: #fff;
    background: #3b4ef8;
		
		
	}
/*------header ends------*/


/*------------intro style starts------*/

.intro-image img{
	
	 width:100%;
	height:auto; 
	padding-top:40px;
	
}

.title{
	
	padding-top:100px;	
	
}


.title h1{
	
	    color: #2d405f;
		font-size: 48px;
		font-weight: 700;
		line-height: 56px;
	
		}
.title h2{
	margin: 15px 0 25px 0 ;
    font-size: 23px;
    color: #2d405f;	
	
}
.get-start{
	padding: 8px 32px 10px 32px;
	letter-spacing:1px;
	font-size:16px;
	font-weight:500;
	background-color:#3b4ef8;
	
}

/*--------intro style ends---------*/


/*======intro2 starts======*/
.intro2{
	background-color:#466393;
	color:white;
	padding:60px 0;
	
}
.tag i{
		
	font-size: 34px;
    color: #b6bdfc;
   
		
	}
	
.tag .h5{
	font-size: 20px;
    font-weight: 700;

}	
.intro2-p .h1{
	 font-weight: 700;
    font-size: 34px;
}
	
	.badge.rounded-pill{
	background: rgba(255, 255, 255, 0.05);
	    padding: 10px 32px 13px 32px;

}

.badge.rounded-pill:hover{
	background: rgba(255, 255, 255, 0.1);	
	
}

.badge{
	
	font-size:16px;
	cursor:pointer;
	transition: 0.3s;
}

/*======intro2 ends====*/




/*======intro3 starts=======*/


.intro3{
background-color:#f8f9fa!important;
}

.clinet-logo{
	
	padding: 20px 50px;
	
}
	.clinet-logo img:hover{
		
		transform:scale(1.15)
		
		
	}
/*====intro3 ends=====*/
	
	
	
	

/*======intro4 starts=======*/

.about ul li{
	position:relative; 
	padding: 3px 0px 8px;
	list-style:none;

}
.about ul li i{
	position:absolute;
	left:-26px;
	top:6px;
	color:#3b4ef8;
}
.about{
	line-height: 25px;
	
}


.about .h4{
    font-weight: 600;
    font-size: 26px;
}

.line{
	  width: 45px;
    height: 3px;
    background-color: #cccc;
    margin: 10px auto;
}

.features{
		color: #2d405f;
	    font-size: 34px;
    font-weight: bold;
	
}


/*====intro4 ends=====*/

/*------intro5 style start------*/


.dash{
	 border-left-style: solid;
    border-right-style: solid;
    border-width: 1px;
    border-bottom-style: solid;
    border-color: #eee;
}

.dash1{
	  border-left-style: solid;
    border-right-style: solid;
	  border-width: 1px;
	border-color:#eee;
}
.dash2{
	border-bottom-style: solid;
	  border-width: 1px;
	border-color:#eee;
	
}

.space{
	
	padding:40px;
	margin:-1px;
}

.space span{
	display: block;
    font-size: 24px;
    font-weight: 400;
    color: #3b4ef8;
	
}
.space h4{
	
	font-size: 28px;
    font-weight: 400;
    padding: 0;
    margin: 20px 0;
    color: #2d405f;
	
}

.space p{
	
	color: #aaaaaa;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

/*------intro5 style ends-----*/



/*==========intro6 strats=========*/


.intro6{
	background-color: #2d405f;
	color:white;
}
.box{
	border: 1px solid #ebebeb;
    background-color: white;
	border-radius:5px;
	color:black;
	padding:50px 40px;
	  transition:all 0.3s ease;
	
}


.box:hover{
	
	    transform: scale(1.08);
		  
}

.box i{
	display: inline-block;
    font-size: 32px;
	margin-top:30px;
   background-color: #eff2f8;
    height: 60px;
    width: 60px;
	color:black;
    line-height: 60px;
    margin-bottom: 20px;
    border-radius: 50%;
}

.box .loriem{
	font-size: 20px;
	font-weight: 700;
	color: #2d405f;
    transition: 0.3s;
}


.box .loriem:hover{
	
	    color: #4e6fa4;
		cursor:pointer;
	
}

.features1{
   
   font-size: 32px;
    font-weight: bold;
}


/*===========intro6 style ends========*/





/*------intro7 style start-----*/



.portfolio-title {
    margin: 0 auto 20px auto;
    text-align: center;
}

.portfolio-title span{
	
	
	cursor: pointer;
    display: inline-block;
    padding: 8px 15px 10px 15px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    color: #444444;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
    border-radius: 3px;
	
	
}
.portfolio-title span:hover{
	
	color:white;
	background-color:#3b4ef8;
	
	
}


.portfolio-menu.active{
	background-color:#3b4ef8;
	color:white;
}


.port-img img{
	display:block;
	height:auto;
	width:100%;
	transition: all 0.3s ease;
	
}

.port-img{
	
	position:relative;
	overflow:hidden;
	margin-bottom:40px;

}

.port-img .overlay{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:#00000070;
	display:flex;
	align-items:flex-end;
	padding:20px 20px 30px 0; 
	transition:all 0.3s ease;
	opacity:0;
	visibility:hidden;	
}

.port-img:hover .overlay{
	
	opacity:1;
	visibility:visible;
}
.port-img:hover img{
	transform:scale(1.2);
}

.overlay-content{
	
	padding-left:20px;
}

.overlay-content h3{
	color:white;
	font-size:18px;
	font-weight:600;
	padding-bottom:10px;
	text-transform:uppercase;
}
	
.overlay-content h4{

	color:#ccc;
	font-size:12px;
	font-style:italic;
	padding-bottom:5px;
	text-transform:uppercase;
	}
	
	.overlay-icon i{
		font-size:20px;
		color:white;
		padding:5px 10px;
		}

.overlay-icon i:hover{
	
	color:#ffc451;
}





/*------intro7 style end------*/



/*===========intro8 style ends========*/

.intro8{
	
	background-color:#f8f9fa!important;
	
}


.box1 img{
	width:80px;
	height:80px;
	border-radius:50%;	
}
	
.box1{

	background-color:white;
	box-shadow: 0 0 5px 0 #ccc;
	padding:40px;

}	
	
	
.box1 .name{

font-size:20px;
color:black;
font-weight:600;
margin-bottom:0;


}	
	
	.dots .dot-circle{
		width:10px;
		height:10px;
		display:inline-block;
		border-radius:50%;
		background-color:#ccc;
		cursor:pointer;
		margin:0 3px;
		border:1px solid blue;
	}


/*===========intro8 style ends========*/



/*-----------intro9 style start------*/



.team-member{
	text-align: center;
    margin-bottom: 20px;
     position: relative;
    overflow: hidden;
	transition: all 0.5s ease .2s;
}


.team-member .team-info {
	display:flex;
	flex-direction:column;
	justify-content:flex-end;
	opacity: 0;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    transform:translateY(20px);
	transition: all 0.5s ease .2s;
	 background-image: linear-gradient(0deg, rgba(12, 17, 26, 0.9) 0%, rgba(20, 29, 43, 0.8) 20%, rgba(0, 212, 255, 0) 100%);

}

 
 .team-member .team-info .member-info-content {
    transform:translateY(20px);
	transition:all 0.5s ease;
} 

.team-member .member-info-content h4 {
    font-weight: 700;
    margin-bottom: 2px;
    font-size: 18px;
    color: #fff;
}

.team-member .member-info-content span {
    font-style: italic;
    display: block;
    font-size: 13px;
    color: #fff;
}


.team-member .team-info  .social {
 
    
	transform:translateY(20px);
   transition:all .3s ease .2s;
	padding: 10px 0 30px 0;
}


.team-member :hover .team-member .social{
	
	transform:translateY(0);	
	
}


.team-member:hover .team-member .member-info-content{
	
		transform:translateY(0);	
	
	
}
 
 .team-member .social a {
    transition: color 0.3s;
    color: rgba(255, 255, 255, 0.7);
    margin: 0 10px;
    display: inline-block;
}

 .team-member .social a:hover {
	 
	 
	 color:white;
	 
 }

.team-member .social i {
    font-size: 18px;
    margin: 0 2px;
}

.team-member:hover .team-info {
	
	
    opacity: 1;
	transform:translateY(0);
	
}
	
	/* .team-member:hover
	{
		  background-color: linear-gradient(0deg, rgba(12, 17, 26, 0.9) 0%, rgba(20, 29, 43, 0.8) 20%, rgba(0, 212, 255, 0) 100%);
	transform:translateY(80px);
		
	} */

/*---------intro9 style ends------*/








/*----------intro10 style start------*/
.price1{
	
	background-color:#fff;
	border-radius:10px;
	box-shadow:0 0 5px 0 #ccc;
	padding:46px;
	line-height:40px;
}

.price1 p{
	
	margin-bottom:0;
	
}
.price2{
	
	background-color:#466393;
	border-radius:10px;
box-shadow:0 0 5px 0 #ccc;
line-height:38px;
padding:46px;
	
}


.price2 sub{
	
	font-size: 16px;
   color: #bababa;
	
}
.price2 sup{

    top: -0.5em;
    font-size: 20px;
    left: -3px;
}


.price1 sub{
	
	font-size: 16px;
    color: #bababa;
	
}
.price1 sup{

    top: -0.5em;
    font-size: 20px;
    left: -3px;
}

.price2 p{
	
	margin-bottom:0;
	
}

.price1-btn{
	
    background: #eceefe;
    color: #3b4ef8;	
	padding: 10px 40px 12px 40px;
	margin-top:30px;
}

.price1-btn:hover{
	    background: #3b4ef8;
    color: #fff;
	
	
}


.price2-btn{
	
	background: rgba(255, 255, 255, 0.1);
    color: #fff;
	padding: 10px 40px 12px 40px;
	margin-top:40px;
}
	

.price2-btn:hover{
	background-color: #fff;
   color: #3b4ef8;

}
span > b{
	font-size:40px;
	
	
}





/*---------intro10 style end------*/


/*----------intro11 style start------*/



.faq-title{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #2d405f;
	
}


.faq {
	
	border-bottom: 1px solid #eceefe;
	
}
 .accordion-item {
	border:none;
  
}

.accordion-body {
     padding: 1px 50px 20px 50px;
    font-size: 17px;
}



.accordion-button{
	font-size: 20px;
    line-height: 24px;
    font-weight: 400;
	cursor:pointer;
	transition:0.3s;
	color:black
	
	
}







 .accordion-button:not(.collapsed)::before{
    /* background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230c63e4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e); */
    transform: rotate(-180deg);
} 

.accordion-button::after {
    flex-shrink: 0;
    width: 0;
    height: 0;
    margin-left:0;
 
    content: 0;
   /*  background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e);
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .2s ease-in-out; */
} 

	

.accordion-button::before {
	flex-shrink:0;
	width:30px;
	height:14px;
	margin:0;
	content:"";
	background-image: url(../images/download.svg );  
	background-repeat: no-repeat;
	background-position:center;
	transition:all .2s ease-in-out;
	
	
}



.accordion-button:not(.collapsed) {
    color: #0c63e4;
	background-color:white;
	box-shadow:none;
}

.accordion-button:focus {
    z-index: 3;
    border-color: #86b7fe;
    outline: 0;
    box-shadow:none;

}

.accordion-button:focus {
	border-color:none;
}

/*----------intro11 style send------*/



/*------intro12 style start------*/
.left .address{
	
	color: #2d405f;
    text-align: center;
    box-shadow: 0 0 30px rgb(214 215 216 / 60%);
    padding: 20px 0 30px 0;
    background: #fff;
}
	
.left .address h3{
	
	font-size: 20px;
    color: #777777;
    font-weight: 700;
    margin: 10px 0;
	
}


.left .address p{
	
	    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
	
}

.address  i{
	font-size: 32px;
    color: #3b4ef8;
    padding: 8px;
	
}

.address-form{

box-shadow: 0 0 30px rgb(214 215 216 / 60%);
    padding: 50px;
    background: #fff;


}	

.form-button button{
	
	background-color: #3b4ef8;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
    border-radius: 5px;
	
	
}

.form-button button:hover{
	
	    background-color: #0a22f6;
}
	
	
.form-control {
    width: 100%;
    background-color:#fff;
    border: 1px solid #ced4da;
    padding: 10px 15px;
	font-weight:400;
	line-height:1.5;
    color: #212529;
    font-size: 14px;
    border-radius: 5px;
    margin-bottom: 20px;

}


.message textarea {
   padding:12px 15px;
   
	height:88px;
}

.address p{
	
	margin-bottom:0;
	
}

/*-------intro12 style ends------*/


/*-------intro13 sectio starts-----*/

.intro13{
	
	  background-color: white;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);	
}


.footer{
	
	  color: #444444;
    font-size: 14px;
 padding: 60px 0 30px 0;
		
}
.footer p{
	
	font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Krub", sans-serif;
    color: #4e6fa4;
	
}

.footer-box2{
	
	color: rgb(68, 68, 68);
    font-size: 14px;
    padding: 60px 0px 30px;
	
	
}

.footer-box2 h5{

	font-size: 18px;
    font-weight: bold;
    color: #2d405f;
    
}


.footer-box2 p{
	color: rgb(119, 119, 119);
	font-size:16px;
	margin-bottom:0;
	
}

.footer-box2 ul > li > a {
    text-decoration: none;
      color: #777777;
    font-size: 14px;
    padding: 10px 0;
    line-height: 36px;
}

.footer-box2 ul > li > a:hover{
	
	 text-decoration: none;
    color: #3b4ef8;
	
	
}


.footer-box2 li > a > i {
    color: #6c7afa;
    font-size: 16px;
    margin-right: 9px;
}


.subscrpition-form {
    position: relative;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    padding: 6px 100px 6px 8px;
	border: 1px solid #9da7fc;
}


.subscrpition-form input {
    width: 100%;
    height: 36px;
    border:0;
}
.Subscribe-btn {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    min-width: 100px;
    padding: 0 20px;
    background: #3b4ef8;
	color: white;
    font-size: 15px;
    border: 0;
    border-radius: 0;
    cursor: pointer;
} 




.Subscribe-btn:hover{
	background: #0a22f6;
	
	
	
}
	
	
.footer-box3 p{
	
	color:#6c757d!important;
}
/*-------intro13 style ends------*/



/*-----intro14 style start----*/
	
	
.social-media-icon a{
	font-size: 18px;
    display: inline-block;
    background: #e7eafe;
    color: #3b4ef8;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 5px;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}



.social-media-icon a:hover{
	
	background: #3b4ef8;
    color: #fff;
    text-decoration: none;
	
	
}

.credits > p > a{
	
	text-decoration:none;
}

.arrow a{
	
	position: fixed;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #3b4ef8;
    width: 40px;
    height: 40px;
	line-height:40px;
    border-radius: 4px;
    transition: all 0.4s;
	
}
.arrow a:hover{
	background: #6272f9;
	
	
	
	
}


.arrow i{
	
	    font-size: 24px;
    color: #fff;
    
	    padding-left: 9px;
	
}


</*-----intro14 style ends----->